<ns-action-bar title="Current Challenge" [showBackButton]="false">
    <ActionItem
        ios.position="right"
        android.position="actionBar">
        <Label
            text="Replace"
            nsRouterLink="/challenges/replace"
            pageTransition="slideLeft">
        </Label>
    </ActionItem>

    <ActionItem
        ios.position="right"
        android.position="actionBar">
        <Label
            text="Edit"
            nsRouterLink="/challenges/edit"
            pageTransition="slideLeft">
        </Label>
    </ActionItem>
</ns-action-bar>
<StackLayout>
    <Label
        class="title"
        text="The current challenge"
        horizontalAlignment="center">
    </Label>
    <Button
        text="Change Status"
        class="btn"
        (tap)="onChangeStatus()"
    ></Button>
</StackLayout>
