<ns-action-bar title="Current Challenge" [showBackButton]="false">
    <ActionItem
        ios.position="right"
        android.position="actionBar">
        <Label
            text="Replace"
            nsRouterLink="/challenges/replace"
            pageTransition="slideLeft">
        </Label>
    </ActionItem>

    <ActionItem
        ios.position="right"
        android.position="actionBar">
        <Label
            text="Edit"
            nsRouterLink="/challenges/edit"
            pageTransition="slideLeft">
        </Label>
    </ActionItem>
</ns-action-bar>
<FlexboxLayout class="page">
  <Label class="h1 text-center" text="Take a walk every day"></Label>
  <Label
    class="body text-center"
    text="Walk for at least 20 minutes on every of the week."
  ></Label>
</FlexboxLayout>
