@import '../../../theme/colors';

.form {
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 80%;

  .label {
    color: $primary;
    font-weight: bold;
  }

  .input {
    border-bottom-width: 2;
    border-color: $primary;
    width: 100%;
  }
}



